body{
    background-color: aqua;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  *:not(i) {
    font-family: "Poppins", sans-serif;
  }
  header {

    width: 100%;
    background-color: #2c8eec;
    padding: 3rem 5rem;
    
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  nav a {
    font-size: 1.8rem;
    text-decoration: none;
  }
  nav a#logo {
    color: #000000;
    font-weight: 700;
  }
  nav ul a {
    color: #ffffff;
    font-weight: 600;
  }
  nav ul a:hover {
    border-bottom: 2px solid #ffffff;
  }
  section#home {
    display: grid;
    place-items: center;
  }
  h1 {
    font-size: 4rem;
  }
  #ham-menu {
    display: none;
  }
  nav ul.active {
    left: 0;
  }
  @media only screen and (max-width: 991px) {
    html {
      font-size: 56.25%;
    }
    header {
      padding: 2.2rem 5rem;
    }
  }
  @media only screen and (max-width: 767px) {
    html {
      font-size: 50%;
    }
    #ham-menu {
      display: block;
      color: #ffffff;
    }
    nav a#logo,
    #ham-menu {
      font-size: 3.2rem;
    }
    nav ul {
      background-color: black;
      position: fixed;
      left: -100vw;
      top: 73.6px;
      width: 100vw;
      height: calc(100vh - 73.6px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transition: 1s;
      gap: 0;
    }
  }
  @media only screen and (max-width: 575px) {
    html {
      font-size: 46.87%;
    }
    header {
      padding: 2rem 3rem;
    }
    nav ul {
      top: 65.18px;
      height: calc(100vh - 65.18px);
    }
    footer{
    
        left: 0;
        bottom: 0;
        width: 100%;
        
    }
  }
  .footer-clean {
    padding:50px 0;
    background-color:#fff;
    color:#4b4c4d;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }
  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }
#numzone1{
    padding: 50px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
