<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Look.css">
    <title>Calculator</title>
</head>
<body>
    {% include "header.html" %}
    <div class="heading">
        Calcutator
    </div>
    <div class="Input1">
        <form method="post">
            {% csrf_token %}
            <label>Value 1</label>
            <input type="text" name="num1" id="numzone1"/>
            <label>Operator</label>
            <select name="opr" class="select">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
            <label>Value 2</label>
            <input type="text" name="num2" class="numzone2"/>
            <button type="submit">Calculate</button>
            <label>Output</label>
            <input type="text" name="Output" class="numzone3"/>

        </form>
    </div>
    {% include "footer.html" %}
    <script src="/static/Function.js"></script>
</body>
</html>